MealPlanner.SharedKernel/obj/MealPlanner.SharedKernel.csproj.nuget.dgspec.json
MealPlanner.SharedKernel/obj/MealPlanner.SharedKernel.csproj.nuget.g.props
MealPlanner.SharedKernel/obj/MealPlanner.SharedKernel.csproj.nuget.g.targets
MealPlanner.SharedKernel/obj/project.assets.json
MealPlanner.SharedKernel/obj/project.nuget.cache
MealPlanner.SharedKernel/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
MealPlanner.SharedKernel/obj/Debug/net10.0/MealPlanner.SharedKernel.AssemblyInfo.cs
MealPlanner.SharedKernel/obj/Debug/net10.0/MealPlanner.SharedKernel.AssemblyInfoInputs.cache
MealPlanner.SharedKernel/obj/Debug/net10.0/MealPlanner.SharedKernel.assets.cache
MealPlanner.SharedKernel/obj/Debug/net10.0/MealPlanner.SharedKernel.GeneratedMSBuildEditorConfig.editorconfig
MealPlanner.SharedKernel/obj/Debug/net10.0/MealPlanner.SharedKernel.GlobalUsings.g.cs
MealService/MealService.Domain/obj/MealService.Domain.csproj.nuget.dgspec.json
MealService/MealService.Domain/obj/MealService.Domain.csproj.nuget.g.props
MealService/MealService.Domain/obj/MealService.Domain.csproj.nuget.g.targets
MealService/MealService.Domain/obj/project.assets.json
MealService/MealService.Domain/obj/project.nuget.cache
MealService/MealService.Domain/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
MealService/MealService.Domain/obj/Debug/net10.0/MealService.Domain.AssemblyInfo.cs
MealService/MealService.Domain/obj/Debug/net10.0/MealService.Domain.AssemblyInfoInputs.cache
MealService/MealService.Domain/obj/Debug/net10.0/MealService.Domain.assets.cache
MealService/MealService.Domain/obj/Debug/net10.0/MealService.Domain.GeneratedMSBuildEditorConfig.editorconfig
MealService/MealService.Domain/obj/Debug/net10.0/MealService.Domain.GlobalUsings.g.cs
MealService/MealService.Application/obj/MealService.Application.csproj.nuget.dgspec.json
MealService/MealService.Application/obj/MealService.Application.csproj.nuget.g.props
MealService/MealService.Application/obj/MealService.Application.csproj.nuget.g.targets
MealService/MealService.Application/obj/project.assets.json
MealService/MealService.Application/obj/project.nuget.cache
MealService/MealService.Application/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
MealService/MealService.Application/obj/Debug/net10.0/MealService.Application.AssemblyInfo.cs
MealService/MealService.Application/obj/Debug/net10.0/MealService.Application.AssemblyInfoInputs.cache
MealService/MealService.Application/obj/Debug/net10.0/MealService.Application.assets.cache
MealService/MealService.Application/obj/Debug/net10.0/MealService.Application.GeneratedMSBuildEditorConfig.editorconfig
MealService/MealService.Application/obj/Debug/net10.0/MealService.Application.GlobalUsings.g.cs
MealService/MealService.Infrastructure/obj/MealService.Infrastructure.csproj.nuget.dgspec.json
MealService/MealService.Infrastructure/obj/MealService.Infrastructure.csproj.nuget.g.props
MealService/MealService.Infrastructure/obj/MealService.Infrastructure.csproj.nuget.g.targets
MealService/MealService.Infrastructure/obj/project.assets.json
MealService/MealService.Infrastructure/obj/project.nuget.cache
MealService/MealService.Infrastructure/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
MealService/MealService.Infrastructure/obj/Debug/net10.0/MealService.Infrastructure.AssemblyInfo.cs
MealService/MealService.Infrastructure/obj/Debug/net10.0/MealService.Infrastructure.AssemblyInfoInputs.cache
MealService/MealService.Infrastructure/obj/Debug/net10.0/MealService.Infrastructure.assets.cache
MealService/MealService.Infrastructure/obj/Debug/net10.0/MealService.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
MealService/MealService.Infrastructure/obj/Debug/net10.0/MealService.Infrastructure.GlobalUsings.g.cs
