MealPlanner.SharedKernel/MealPlanner.SharedKernel.csproj
MealPlanner.SharedKernel/obj/MealPlanner.SharedKernel.csproj.nuget.dgspec.json
MealPlanner.SharedKernel/obj/MealPlanner.SharedKernel.csproj.nuget.g.props
MealPlanner.SharedKernel/obj/MealPlanner.SharedKernel.csproj.nuget.g.targets
MealPlanner.SharedKernel/obj/project.assets.json
MealPlanner.SharedKernel/obj/project.nuget.cache
